<%= form_with url: travel_times_path, method: 'post', id: 'travelTimeForm' do %>
  <table>
    <tr>
      <td>
        <%= label_tag :start_point, "Start Location:" %>
      </td>
      <td>
        <%= text_field_tag :start_point %>
      </td>
    </tr>
    <tr>
      <td>
        <%= label_tag :end_point, "End Location:" %>
      </td>
      <td>
        <%= text_field_tag :end_point %>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <%= submit_tag "Search", onclick:  'createTravelTime(event)', remote: true %>
        <%= submit_tag "Cancel", onclick: 'cancelForm()', remote: true %>
      </td>
    </tr>
  </table>
<% end %>
